@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css';

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

h1{
    font-size: 2em;
}


nav{
  display:flex;
  align-items: center;
  color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #333;
}

nav a{
  text-decoration: none;
  color:white;
}

nav div {
  border-left:1px solid #bbb;
}

nav div:last-child, div:first-child {
  border-left: none;
}

nav .logo{
  text-transform: uppercase;
  flex: 5 1 auto;
  padding:20px;
}
  
nav .item{
  flex: 0 1 auto;
  padding: 20px;
}

nav img{
  border-radius:50%;
  width: 43px;
  padding:0;
}

nav div:hover:not(.active) {
  background-color: #111;
}

nav div .active {
  background-color: #4CAF50;
}

.search {
    /* take up the rest of the remaining space */
    flex: 1;
}

.search input {
  width: 100%;
}
  


.welcome{
    background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg) center center / cover no-repeat;
    padding: 100px 20px;
    color:white;

}