@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway';

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

h1{
    font-size: 2em;
}


nav{
  display:flex;
  align-items: center;
  color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #333;
}

nav a{
  text-decoration: none;
  color:white;
}

nav div {
  border-left:1px solid #bbb;
}

nav div:last-child, div:first-child {
  border-left: none;
}

nav .logo{
  text-transform: uppercase;
  flex: 5 1 auto;
  padding:20px;
}
  
nav .item{
  flex: 0 1 auto;
  padding: 20px;
}

nav img{
  border-radius:50%;
  width: 43px;
  padding:0 5px;
}

nav div:hover:not(.active) {
  background-color: #111;
}

nav div .active {
  background-color: #4CAF50;
}

.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.searchIcon {
  padding: 0.5rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
  background: #538AC5;
  border: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
}

/* .search {
    flex: 1;
}

.search input {
  width: 100%;
} */
  


.welcome{
    background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg) center center / cover no-repeat;
    padding: 100px 20px;
    color:white;

}