* { box-sizing: border-box; }

body { 
    margin: 0;
    font-family: sans-serif;
} 

.intro {
    background: #23424A;
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    color: white;
    padding: 50px 0;
}

.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}


.intro-content {
    width: 50%;

}